@import "./../CommeSass/CommeSass.scss";

.pop-up-container {
  // border: 2px black solid;
  background: whitesmoke;
  // background-image: linear-gradient(to bottom, #3b7aa3, #8daec1);
  width: 85vw;

  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 13px -4px rgba(0, 0, 0, 0.37);
  box-shadow: 5px 5px 13px -4px rgba(0, 0, 0, 0.37);

  @media #{$sm} {
    font-size: 0.5rem;
  }
  @media #{$md} {
    font-size: 1rem;
  }

  .pop-up-about {
    color: black;
    text-align: left;
    padding-left: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px black solid;
    @media #{$sm} {
      font-size: 2rem;
    }
    @media #{$md} {
      font-size: 5rem;
    }
  }

  .pop-up-detail {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    picture {
      width: 50%;

      img {
        object-fit: cover;
        object-position: center;
        max-width: 30rem;
        max-height: 30rem;
      }
    }

    .pop-up-description {
      color: black;
      max-width: 50%;
      text-align: left;
      padding: 0 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;
        @media #{$sm} {
          font-size: 2rem;
        }
      }
    }
  }

  .pop-up-header {
    position: relative;

    .close-pop-up {
      position: absolute;
      color: black;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
}
