.e-schedule .e-appointment-details {
  padding: 0 !important;
  margin: 0 !important;
}

.e-text-content {
  padding: 0 !important;
}

.e-treeview .e-fullrow {
  height: 6rem;
}
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
  background: #03666b !important;
  padding-left: 0.5rem !important;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header {
  background: #03666b !important;
}
