.pop-up-container {
  border: 2px black solid;
  background: grey;
  width: 80%vw;
  max-height: 80%vh;
  min-height: 80%vh;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;

  .pop-up-description {
    position: relative;
    .close-detail {
      position: absolute;
      top: 4px;
      right: 4px;
    }
  }

  picture {
    width: 50%;
    // height: 10rem;
    display: block;

    img {
      width: 40%;
      object-fit: cover;
    }
  }
}
