@import "./CommeSass.scss";

.SearchCategory {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;

  @media #{$sm} {
    font-size: 1rem;
  }
  @media #{$md} {
    font-size: 1rem;
  }

  .SearchCategory-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    margin-bottom: 2rem;

    @media #{$sm} {
      padding-bottom: 0.5rem;
      justify-content: space-between;
      flex-direction: row;
      white-space: nowrap;
      font-size: .8rem;
    }
    @media #{$md} {
      justify-content: space-around;
      font-size: 1rem;
    }
    @media #{$lg} {
      font-size: 1.3rem;
    }
    .search-input {
      align-self: flex-end;
    }
  }

  .SearchCategoryList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media #{$md} {
      flex-direction: row;
    }
  }
}

//  @media #{$sm} {

//     }
//     @media #{$md} {

//     }
//     @media #{$lg} {

//     }
