@import "./CommeSass.scss";

.Search-result-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;

  .Search-header {
    font-size: 2rem;

    @media #{$sm} {
      font-size: 3rem;
    }
    @media #{$md} {
      font-size: 4rem;
    }
    @media #{$lg} {
      font-size: 5rem;
    }
  }
  .Search-date {
    font-size: .7rem;
    @media #{$sm} {
      font-size: 1rem;
    }
    @media #{$md} {
      font-size: 1.5rem;
    }
    @media #{$lg} {
      font-size: 2rem;
    }
  }
  .City-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-shadow: 10px 5px 5px 5px #ececed;
    padding: .75rem 1rem;
    font-size: 1rem;
    max-width:80%; 

    @media #{$sm} {
    font-size: 1.2rem;
    }
    @media #{$md} {
    font-size: 1.3rem;
    }
    @media #{$lg} {
    padding: 1.5rem 1.5rem;
    margin-bottom: 3rem;
    }
  }
  .City-description {
    align-self: center;
    font-size: .5rem;
    @media #{$sm} {
    font-size: .8rem;
    }
    @media #{$md} {
    font-size: .8rem;
    }
  }
}



//  @media #{$sm} {

//     }
//     @media #{$md} {

//     }
//     @media #{$lg} {

//     }

